<div class="timecollector">
    <h2>
        <a class="filter-link" href="{{filterUrl}}" target="_parent">
            {{#if title}}{{title}}{{else}}Filter anzeigen{{/if}} ({{ticketCount}} Tickets)
        </a>
    </h2>

    <div class="chart-layer">
        <div class="total-bar">
            {{#each total}}
                {{>bar}}
            {{/each}}
        </div>
        {{#if retainer}}
            <div class="retainer-bar">
                {{#each retainer}}
                    {{>bar}}
                {{/each}}
            </div>
        {{/if}}
        <div class="tabs">
            {{#if components}}<a href="#components"{{#if activateComponentTab}} class="active"{{/if}}>Komponenten</a>{{/if}}
            {{#if fixVersions}}<a href="#versions"{{#if activateVersionTab}} class="active"{{/if}}>Versionen</a>{{/if}}
            {{#if tickets}}<a href="#tickets"{{#if activateTicketTab}} class="active"{{/if}}>Tickets</a>{{/if}}
        </div>
        {{#if components}}
            <div id="components" class="tab-content{{#if activateComponentTab}} active{{/if}}">
                {{#each components}}
                    {{>bar}}
                {{/each}}
            </div>
        {{/if}}
        {{#if fixVersions}}
            <div id="versions" class="tab-content{{#if activateVersionTab}} active{{/if}}">
                {{#each fixVersions}}
                    {{>bar}}
                {{/each}}
            </div>
        {{/if}}
        {{#if tickets}}
            <div id="tickets" class="tab-content{{#if activateTicketTab}} active{{/if}}">
                {{#each tickets}}
                    {{>bar}}
                {{/each}}
            </div>
        {{/if}}
    </div>

    <div class="chart-legend">
        <span class="estimate">Aktuelle Schätzung</span>
        <span class="green">Sieht gut aus</span>
        <span class="orange">Aufgepasst</span>
        <span class="red">Das war nix</span>
        <span class="purple">Keine Schätzung</span>
    </div>
</div>