.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

.timecollector {
    padding: 10px;
}

.timecollector h2 {
    font-size: 18px;
    line-height: 1.3125;
}

.timecollector .filter-link {
    padding-right: 20px;
    color: #000;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA4AAAAOCAYAAAAfSC3RAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAASVJREFUeNqE0S9Ig0EcxvF3Y00Ew4oomJxBi7ygQbApqIzNobIgisUmVoUFiywMiyzZDILunzAU59IsBsWyIAargohJiwib34PnhWPbux18eHnvvefud7834Lqu02MMYx/z+MQRiqEeoQlcYQRvmEYBm8EuoRncKZTCKKbwbSroduIYHnCDY8096eRwp2A/1jCIE1xa3+KIoNYaHMeFnt4oYgVRnOMPe6GWUEVdPMAttvGLBeS0bhmPwQ6hHTSQREb3LMOsXdWdHXPiEK6tUBZ5lberjb+wrs0dL5iyWp7VvNl5A5P4wSle7WaY4JJafGjNxzCHusptG6buDwzA1XtCjTClvSPgF0yjD/d4VvvN4kWcoekXLGELL/r5Vcx63fMb/wIMAPNuOwWR2vYkAAAAAElFTkSuQmCC') no-repeat right 4px;
}

.timecollector .filter-link:hover {
    text-decoration: none;
}

.chart-layer {
    position: relative;
    margin-top: 20px;
}

.chart-layer:before {
    position: absolute;
    top: -25px;
    left: 75%;
    content: "100%";
}

.chart-layer .single-bar {
    position: relative;
    display: table;
    table-layout: fixed;
    width: 100%;
    margin-bottom: 7px;
}

.chart-layer .single-bar .name {
    display: table-cell;
    width: 20%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    vertical-align: middle;
}

.chart-layer .total-bar .single-bar .name,
.chart-layer .retainer-bar .single-bar .name{
    font-weight: bold;
}

.chart-layer .single-bar .bar {
    display: table-cell;
    position: relative;
    width: 75%;
    height: 22px;
}

.chart-layer .single-bar .bar:before {
    position: absolute;
    top: 0;
    left: 75%;
    width: 1px;
    height: 32px;
    background-color: #333;
    content: "";
}

.chart-layer .single-bar:first-child .bar:before {
    top: -10px;
    height: 42px;
}

.chart-layer .single-bar .bar .nologs {
    position: relative;
    top: 3px;
}

.chart-layer .single-bar .bar .shortdesc,
.chart-layer .single-bar .bar .longdesc {
    position: absolute;
    top: 4px;
    left: 5px;
    width: 100%;
    color: #fff;
    z-index: 30;
    cursor: default;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-shadow: 1px 0 3px rgba(0, 0, 0, 0.8);
}

.chart-layer .single-bar .bar:hover .shortdesc,
.chart-layer .single-bar .bar .longdesc {
    display: none;
}

.chart-layer .single-bar .bar .shortdesc,
.chart-layer .single-bar .bar:hover .longdesc {
    display: block;
}

.chart-layer .single-bar .bar .shortdesc .sum {
    position: relative;
    top: -2px;
    font-size: 80%;
}

.chart-layer .single-bar .bar .total {
    position: absolute;
    top: 0;
    left: 0;
    height: 22px;
    width: 75%;
    background-color: #bbb;
    z-index: 10;
}

.chart-layer .single-bar .bar.transparent .total {
    background-color: transparent;
}

.chart-layer .single-bar .bar .progress {
    position: absolute;
    top: 0;
    left: 0;
    height: 22px;
    width: 0;
    background-color: #1ea139;
    z-index: 20;
}

.chart-layer .retainer-bar .single-bar .bar .total {
    background-color: #d02090;
}
.chart-layer .retainer-bar .single-bar .bar .progress {
    background-color: #ffdd00;
}

.chart-layer .single-bar .bar.orange .progress {
    background-color: #f49300;
}

.chart-layer .single-bar .bar.red .progress {
    background-color: #e60017;
}

.chart-layer .single-bar .bar.purple .progress {
    background-color: #694489;
}

.chart-layer .single-bar .percentage {
    display: table-cell;
    width: 5%;
    vertical-align: middle;
    text-align: right;
}

.tabs {
    border-bottom: 1px solid #999;
    padding-left: 5px;
    padding-top: 10px;
}

.tabs > a {
    display: inline-block;
    padding: 5px 12px 4px;
    font-weight: bold;
}

.tabs > a,
.tabs > a:active,
.tabs > a:hover,
.tabs > a:focus {
    text-decoration: none;
}

.tabs > a.active {
    border: 1px solid #999;
    border-bottom-color: #fff;
    margin-bottom: -1px;
}

.tab-content {
    display: none;
    padding: 20px 0 0;
}

.tab-content.active {
    display: block;
}

.chart-legend {
    padding-top: 12px;
}

.chart-legend > span {
    position: relative;
    padding-left: 20px;
    margin-right: 15px;
}

.chart-legend > span:before {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 14px;
    content: "";
}

.chart-legend > span.estimate:before {
    background-color: #ccc;
}

.chart-legend > span.green:before {
    background-color: #1ea139;
}

.chart-legend > span.orange:before {
    background-color: #f49300;
}

.chart-legend > span.red:before {
    background-color: #e60017;
}

.chart-legend > span.purple:before {
    background-color: #694489;
}